body{
    font-family: 'Inter', sans-serif;
}
a {
    color: #400000 !important;
    text-decoration: none
  }
.Header{
    background: #1B1919;
    padding-top: 1%;
    display: flex;
    justify-content: space-around;
}
.Logo{
    margin-top: 1%;
}
.Searcher{
    border-radius: 20px;
    margin-top: 0.5%;
    margin-bottom: 1%;
    background: #FFFFFF;
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}
.search{
    margin-top: 2.5%;
    width: 90%;
    height: 50%;
}
.searchButton{
    margin-top: 2.5%;
}
.Medium{
    height: 190px;
}
.Menu{
    margin-top: 3%;
    text-transform: uppercase;
    padding-left: 20%;
    padding-right: 20%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}
.Footer{
    background-color: #242323;
}
.headlines{
    color: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
}
.ContentsFooter{
    display: flex;
   justify-content: space-evenly;
}
.Con1{
    padding-left: 4.3%;
}
.Con2{
    padding-left: 0.2%;
}
.Con3{
    padding-left: 0.1%;
}